.card {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 4px;
    display: inline-block;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    margin: 10px;
  }
  
  .avatar {
    cursor: pointer;
    transition: 0.3s;
    border: solid 1px var(--green_color);
    height: 250px;
    width: 100%;
  }
  
  .avatar:hover {
    border: solid 1px var(--green_color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.9;
  }